{% extends "registration/base.html" %}
{% load static widget_tweaks %}

{% block title %}Verification{% endblock %}

{% block content %}
<div class="card mx-auto my-5 p-xs-0 p-md-2 border-0 shadow" style="width: 20rem;">
    <img src="{% static 'img/logo.png' %}" alt="logo" height="50%" width="50%" class="mx-auto pt-5 d-block">
    <div class="card-body">
    <p class='lead'>Choose sms or voice, and we will send you a verification code to continue</p>
    <form action="." method="post" novalidate>
      {% csrf_token %}

      {% if form.non_field_errors %}
        <div class="alert alert-danger">
          {% for error in form.non_field_errors %}
            <p{% if forloop.last %} class="mb-0"{% endif %}>{{ error }}</p>
          {% endfor %}
        </div>
      {% endif %}

      {% for field in form.visible_fields %}
        <div class="form-group">
          <label for="{{ field.id_for_label }}">{{ field.label }}</label>
          {{ field|add_class:"form-control form-control-sm" }}
          {% for error in field.errors %}
            <small><p class="text-danger">{{ error }}</p></small>
          {% endfor %}
        </div>
     {% endfor %}

     <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6">
              <a href="#" id="sms" class="btn btn-info btn-block action-btn rounded-0 border-0 shadow">SMS</a>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6">
              <a href="#" id="voice" class="btn btn-info btn-block action-btn rounded-0 border-0 my-xs-1 shadow">Voice</a>
            </div>
      </div>
      <div>
        <input type="submit" value="Verify" class="btn btn-success btn-block rounded-0 border-0 my-sm-1 shadow">
      </div>
    </form>
  </div>
</div>
{% endblock %}
