{% extends "registration/base.html" %}
{% load widget_tweaks static %}

{% block title %}Reset your password{% endblock %}

{% block content %}
<div class="card border-0" style="width: 30rem;">
  <div class="card-body">
    <img src="{% static 'img/logo.png' %}" alt="logo" height="75%" width="75%" class="mx-auto d-block">
    {% if validlink %}
      <p class="lead">Please enter your new password twice:</p>
      <form action="." method="post" novalidate>
        {% csrf_token %}

        {% for hidden in form.hidden_fields %}
          {{ hidden }}
        {% endfor %}

        {% if form.non_field_errors %}
          <div class="alert alert-danger">
            {% for error in form.non_field_errors %}
              <p{% if forloop.last %} class="mb-0"{% endif %}>{{ error }}</p>
            {% endfor %}
          </div>
        {% endif %}

        {% for field in form.visible_fields %}
          <div class="form-group">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field|add_class:"form-control form-control-lg" }}
            {% for error in field.errors %}
              <small><p class="text-danger">{{ error }}</p></small>
            {% endfor %}
          </div>
       {% endfor %}

        <button class="btn btn-primary btn-block border-0 rounded-0 shadow" type="submit">
          Change password
        </button>
      </form>
    {% else %}
      <p class="lead">The password reset link was invalid, possibly because it has
      already been used. Please request a new password reset.</p>
    {% endif %}
  </div>
</div>
{% endblock %}
